@import 'tailwindcss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'cy Grotesk Grand';
  src: url('/fonts/Cy-Grotesk-Grand.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
  --color-*: initial;
  --color-black: #101820;
  --color-white: #f2f2f0;
  --color-parchment: #f2eeca;
  --color-crimson: #551c25;
  --color-tortilla: #c7b9ac;
  --color-sage: #4e4934;
  --color-clay: #623412;
  --color-amber: #d29f13;
  --font-glacial: 'Glacial Indifference', system-ui;
  --font-cy-grotesk: 'cy Grotesk Grand', system-ui;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  html,
  body {
    font-family: var(--font-glacial);
  }
}
