@import 'tailwindcss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
}

@font-face {
  font-family: "Extenda 40";
  src: url("/fonts/Extenda-40-Hecto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
  --color-*: initial;
  --color-black: #101920;
  --color-white: #ffffff;
  --color-crimson: #551c23;
  --color-sage: #504a34;
  --color-error: #8b2635;
  --color-success: #5d6b2f;
  --font-inter: "Inter", system-ui;
  --font-syne: "Syne", system-ui;
}

html {
  scroll-behavior: smooth;
}

@layer base {

  html,
  body {
    font-family: var(--font-inter);
  }
}

:root {
  --color-bg1: #101920;
  --color1: 80, 74, 52;
  --color2: 85, 28, 35;
  --color-interactive: 255, 255, 255;
  --circle-size: 60%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: var(--color-bg1);
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    filter: url(#goo);
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  .g1,
  .g2,
  .g3,
  .g4,
  .g5,
  .interactive {
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color-interactive), 1) 0%,
        rgba(var(--color-interactive), 1) 50%,
        rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  }

  .g1,
  .g2,
  .g3,
  .g4 {
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
  }

  .g1 {
    animation: moveVertical 30s ease infinite;
  }

  .g2 {
    width: calc(var(--circle-size) * 0.6);
    height: calc(var(--circle-size) * 0.6);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
  }

  .g3 {
    width: calc(var(--circle-size) * 1.11);
    height: calc(var(--circle-size) * 1.11);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
  }

  .g4 {
    width: calc(var(--circle-size) * 1.3);
    height: calc(var(--circle-size) * 1.3);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
  }

  .g5 {
    width: calc(var(--circle-size) * 1.5);
    height: calc(var(--circle-size) * 1.5);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
  }

  .interactive {
    width: 20%;
    height: 20%;
    top: -10%;
    left: -10%;
  }
}
