@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    'Helvetica',
    'Helvetica Neue',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
  --color-*: initial;
  --color-black: #101820;
  --color-white: #f2f2f0;
  --color-parchment: #f2eeca;
  --color-crimson: #551c25;
  --color-tortilla: #c7b9ac;
  --color-sage: #4e4934;
  --color-clay: #623412;
  --color-amber: #d29f13;
}

html {
  scroll-behavior: smooth;
}
